{% extends "layout.html" %}
{% block content %}
    <form class="form-custom" action="" method="post">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 h3 font-weight-normal">Join Today</legend>
            <div class="form-group">
                {{ form.username.label(class="sr-only") }}
                {{ form.username(class="form-control form-control-lg", placeholder="Username") }}
            </div>
            <div class="form-group">
                {{ form.email.label(class="sr-only") }}
                {{ form.email(class="form-control form-control-lg", placeholder="Email") }}
            </div>
            <div class="form-group">
                {{ form.password.label(class="sr-only") }}
                {{ form.password(class="form-control form-control-lg", placeholder="Password") }}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label(class="sr-only") }}
                {{ form.confirm_password(class="form-control form-control-lg", placeholder="Confirm Password") }}
            </div>
            <div class="form-group">
                {{ form.netto.label(class="sr-only") }}
                {{ form.netto(class="form-control form-control-lg", placeholder="Netto wage") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
        </div>
    </form>
{% endblock %}